.nav {
  /* flex: 1; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-right: 2rem;
}

.nav a,
.nav a:active,
.nav a:visited {
  font-family: monospace;
  font-size: clamp(1rem, 2vw, 1.2rem);
  color: var(--light-font-color);
  text-decoration: none;
}

.nav a:hover {
  border-bottom: 1px solid var(--light-font-color);
}

@media (max-width: 600px) {
  .nav {
    margin-right: 0;
  }
}
