.container {
  /* width: 85vw; */
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* max-width: 300px; */
  margin: clamp(0.8rem, 2vw, 2rem) auto;
  padding: 2rem;
  font-family: monospace;
  background-color: var(--light-bg-color);
}

.container > h2 {
  font-family: monospace;
  font-size: clamp(1.25rem, 3vw, 2rem);
  margin-bottom: 2rem;
}

.container form {
  flex: 1;
}

.linkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;
}

.linkContainer * {
  font-family: monospace;
  font-size: 1rem;
}

@media (max-width: 600px) {
  .linkContainer {
    flex-direction: column;
  }
}
