.container {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 300px;
  margin: 2rem auto;
  padding: 1rem;
  gap: 1rem;
  font-family: monospace;
  background-color: var(--light-bg-color);
}

.container > h2 {
  font-family: monospace;
  font-size: 2rem;
}

.linkContainer {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.linkContainer * {
  font-family: monospace;
  font-size: 1rem;
}
