.post {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 95vw;
  max-width: 900px;
  margin: clamp(0.75rem, 2vh, 3rem) auto;
}

.post > button {
  text-transform: capitalize;
  align-self: center;
  font-size: 1.25rem;
  font-family: monospace;
}

.post .addCommentBtn {
  background-color: var(--blue-bg-color);
  color: var(--light-font-color);
}
