.post {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 600px;
  margin: 3rem auto;
}

.post > button {
  text-transform: capitalize;
  align-self: center;
  font-size: 1.25rem;
}
