.commentForm {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  /* flex-direction: column; */
}

.commentForm input {
  width: 100%;
}

.commentForm button {
  text-transform: capitalize;
  align-self: center;
}

.commentForm .submitBtn {
  color: var(--light-font-color);
  background-color: var(--blue-bg-color);
}
