.comment {
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    'name content'
    'time time';
  gap: 0.5rem;
  align-items: center;
  font-size: 1.25rem;
}

.comment .name {
  grid-area: name;
  background-color: #f1f1f1;
  color: #007bff;
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: bold;
}

.comment .content {
  grid-area: content;
  flex: 1;
}

.comment .timestamp {
  grid-area: time;
  font-size: 0.75rem;
  text-align: right;
  color: #999999;
}
