.comment {
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    'name content'
    'time time';
  gap: 0.5rem;
  padding: 0.5rem;
  align-items: center;
  font-size: 1.25rem;
  background-color: var(--light-bg-color);
}

.comment .name {
  grid-area: name;
  border-radius: 0.25rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Handwritten';
  margin-top: 0.75rem;
}

.comment .content {
  grid-area: content;
  font-family: monospace;
}

.comment .timestamp {
  grid-area: time;
  font-size: 0.75rem;
  text-align: right;
  font-family: monospace;
}
