/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Global styles */
:root {
  --dark-font-color: #222;
  --light-font-color: #eee;
  --dark-bg-color: #4f4f4f;
  --light-bg-color: #eee;
  --blue-bg-color: rgb(0, 89, 255);
  --shadow: 0.25rem 0.5rem 0.5rem #565656;
}

@font-face {
  font-family: 'Handwritten';
  src: url('./fonts/Zeyada/Zeyada-Regular.ttf');
}

* {
  color: var(--dark-font-color);
  box-sizing: border-box;
  font-family: monospace;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  font-family: monospace;
}

button:hover,
a:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  padding: 0.15rem 0;
  border-bottom: 1px solid transparent;
}

label {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: monospace;
}

input,
textarea {
  padding: 0.5rem 0.5rem;
  font-size: clamp(0.85rem, 2vw, 1rem);
  font-family: monospace;
  border: none;
}

input:focus,
textarea:focus {
  outline: none;
}

.root-layout {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  background-image: url('./images/natural-wooden-background.jpg');
}

/* HEADER STYLES */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: #00000048;
  backdrop-filter: blur(0.25rem);
}

.header > a:hover {
  border-bottom-color: transparent;
}

.header h1 {
  font-family: 'Handwritten';
  color: var(--light-font-color);
  font-size: clamp(2rem, 4vw, 4rem);
  text-align: center;
}

.header p {
  flex: 1;
  text-align: center;
  color: var(--light-font-color);
  font-size: 2rem;
  font-family: 'Handwritten';
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-right: 2rem;
}

.nav a,
.nav a:active,
.nav a:visited {
  font-family: monospace;
  text-decoration: none;
  padding: 0 0.5rem;
  border-radius: 0.25rem;
}

.nav > a > p {
  padding: 0.25rem 0;
  border-bottom: 1px solid transparent;
}

.nav > a:hover:not(.active) > p {
  border-bottom: 1px solid var(--light-font-color);
}

.nav > a.active {
  background-color: #fff;
}

.nav > a.active > p {
  color: var(--dark-font-color);
}

.nav a p {
  font-family: monospace;
  font-size: clamp(1rem, 2vw, 1.2rem);
  color: var(--light-font-color);
}

@media (max-width: 600px) {
  .nav {
    margin-right: 0;
  }
}

.main {
  flex: 1;
}

/* HOME STYLES */
.home {
  display: grid;
  place-content: center;
}

.home .hero {
  background-color: var(--light-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: clamp(1rem, 3vw, 4rem);
  margin: clamp(1rem, 3vh, 4rem) clamp(1rem, 3vh, 4rem);
  max-width: 85vw;
}

.home .hero .header {
  background: none;
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 10vh, 2rem);
}

.home .hero .header p {
  color: var(--dark-font-color);
  font-family: monospace;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.home .hero .header h1 {
  color: var(--dark-font-color);
  font-size: clamp(4rem, 10vw, 6rem);
  font-family: 'Handwritten';
  text-align: center;
}

.home .hero .header .subheading {
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-family: monospace;
  text-align: center;
}

.home .hero nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home .hero nav a {
  font-size: clamp(1.25rem, 3vw, 2rem);
  font-family: monospace;
  border-bottom: 3px solid transparent;
  margin: 1vh 3vw;
}

.home .hero nav a:hover {
  border-bottom: 2px solid var(--dark-font-color);
}

/* FORM STYLES */
.form-container {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: clamp(0.8rem, 2vw, 2rem) auto;
  padding: 2rem;
  font-family: monospace;
  background-color: var(--light-bg-color);
}

.form-container > h2 {
  font-family: monospace;
  font-size: clamp(1.25rem, 3vw, 2rem);
  margin-bottom: 2rem;
}

.form-container form {
  flex: 1;
}

.form-container .link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;
}

.form-container .link-container * {
  font-family: monospace;
  font-size: 1rem;
}

@media (max-width: 600px) {
  .form-container .link-container {
    flex-direction: column;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 85vw;
  max-width: 300px;
}

.form button {
  text-transform: capitalize;
  align-self: center;
  font-size: 1.25rem;
  background-color: rgb(0, 89, 255);
  color: var(--light-font-color);
}

.formInput {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

/* POSTS STYLES */
.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  max-width: 600px;
  margin: 3rem auto;
}

/* BLOG STYLES */
.post {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: clamp(0.5rem, 2vh, 1rem) clamp(1rem, 3vh, 2rem);
  background-color: var(--light-bg-color);
  transition: all 250ms ease-in-out;
  max-width: 95vw;
}

.post:hover {
  box-shadow: var(--shadow);
  transform: scale(1.05);
}

.post h2 {
  font-size: clamp(1.5rem, 3vw, 2rem);
  border-bottom: 1px solid var(--light-font-color);
  padding: 1rem 0;
  font-family: monospace;
}

.post .details {
  width: max-content;
  align-self: flex-end;
  font-size: 0.8rem;
  font-family: monospace;
}

.post .details p {
  font-family: monospace;
}

.post > p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-indent: 1.5rem;
  font-family: monospace;
  font-size: clamp(0.8rem, 2vw, 1rem);
}

.post .continue {
  font-family: monospace;
  width: max-content;
  align-self: center;
  margin: 1rem;
  text-indent: 0;
  font-size: 0.85rem;
}

.post:hover .continue {
  border-bottom: 1px solid var(--dark-font-color);
}

/* SINGLE POST STYLES */
.singlePost {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--light-font-color);
  background-color: var(--light-bg-color);
  padding: clamp(1rem, 2vw, 3rem);
  max-width: 900px;
  margin: 0 auto;
}

.singlePost h2 {
  font-size: clamp(2rem, 2vh, 2.5rem);
  font-family: monospace;
}

.singlePost .details {
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 0.25rem;
}

.singlePost .details p {
  font-family: monospace;
}

.singlePost > p {
  text-indent: 4rem;
  margin-top: 2rem;
  font-size: clamp(1rem, 2vh, 1.25rem);
  line-height: 2rem;
  font-family: monospace;
}

.singlePost .login-btn,
.singlePost .add-comment-btn {
  font-size: 1.05rem;
  color: var(--light-font-color);
  background-color: var(--blue-bg-color);
  align-self: center;
}

/* COMMENT FORM STYLES */
.commentForm {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.commentForm textarea {
  width: 100%;
  resize: none;
}

.commentForm button {
  text-transform: capitalize;
  align-self: center;
}

.commentForm .submitBtn {
  color: var(--light-font-color);
  background-color: var(--blue-bg-color);
}

.commentForm .cancelBtn {
  background-color: #fff;
}

/* COMMENT LIST */
.firstCommentMessage {
  text-align: center;
  font-size: 2rem;
}

.commentList {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* COMMENT STYLES */
.comment {
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    'name content'
    'time time';
  gap: 0.5rem;
  padding: 0.5rem;
  align-items: center;
  font-size: 1.25rem;
  background-color: var(--light-bg-color);
}

.comment .name {
  grid-area: name;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  background: #fff;
  font-size: clamp(0.85rem, 2vw, 1rem);
  font-family: monospace;
  justify-self: start;
  align-self: start;
}

.comment .content {
  grid-area: content;
  font-family: monospace;
  font-size: clamp(0.85rem, 2vw, 1rem);
  line-height: 1.5rem;
}

.comment .timestamp {
  grid-area: time;
  font-size: 0.75rem;
  text-align: right;
  font-family: monospace;
}

/* FOOTER STYLES */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #00000048;
  backdrop-filter: blur(0.25rem);
}

.footer p {
  color: var(--light-font-color);
  font-family: monospace;
}
