/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Global styles */
:root {
  --dark-font-color: #222;
  --light-font-color: #eee;
  --dark-bg-color: #4f4f4f;
  --light-bg-color: #eee;
  --shadow: 0.25rem 0.5rem 0.5rem #565656;
}

@font-face {
  font-family: 'Handwritten';
  src: url('./fonts/Zeyada/Zeyada-Regular.ttf');
}

* {
  /* background-color: var(--dark-bg-color); */
  color: var(--dark-font-color);
  box-sizing: border-box;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  font-family: monospace;
  /* background-color: #000; */
}

button:hover,
a:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  padding: 0.15rem 0;
  border-bottom: 1px solid transparent;
}

a:hover {
  border-bottom: 1px solid var(--dark-font-color);
}

label {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: monospace;
}

input {
  padding: 0.5rem 0.5rem;
  font-size: clamp(1rem, 3vw, 1.2rem);
  font-family: monospace;
  /* border: 1px solid var(--light-font-color); */
  border: none;
  /* transition: background-color 150ms ease-in-out; */
}

input:focus {
  outline: none;
}
